#header_img {
    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/44/man-690201_960_720.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    width: 200vh;
    background-position: center;
    background-size: cover;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;

  }
#header_img h1 {
    font-size:50px;
    color:rgb(245, 209, 5);
    padding:1.5%;
    padding-right: 1px;
    font-family: 'Dancing Script', cursive;
    background: rgb(13, 13, 14);
    width: 65vh;
    height: 15vh;
    margin-top: 340px;
    opacity: 0.5;
  }

  .homemenu {
    position: fixed;
    top:0;
    width:100%;
    height: 52px;
    background-color:rgb(245, 209, 5);
    text-align:right;
  
    
  }
  .homemenu a {
    font-family:'Dancing Script', cursive; ;
    font-size:38px;
    color:rgb(32, 25, 25);
    text-decoration: none;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom:10px;
  }
  .homemenu a:hover {
    background-color:rebeccapurple;
    color:red;
    text-align:center;
    }
  .sections {
    font-family: "Caveat";
    text-align: justify;
    margin: 2px;
    padding-top: 5px;
    padding-left: 30px;
    box-shadow: 0px 8px 50px #202227;
    background-color: white;
    font-size: 1.4em;
    border-color: transparent;
    border-radius: 35px;  
    background-color: #f4f6fe;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

  }
  footer {
    margin: 5px;
    font-family: "Caveat";

  }